<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praça Marco Zero - Recife</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 25px;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #a1dfa9;
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }
        h1 {
            font-size: 36px;
        }
        main {
            padding: 20px;
        
        }
        footer {
            background-color:#a1dfa9;
            color: #faf0f0;
            text-align: center;
            padding: 10px;
        }
    </style>